<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Account List</title>
</head>
<body>

<form action="#" th:action="@{/list}" method="post">
    <p>Username: <input type="text" th:name="username" /></p>
    <p>Role: <select th:name="role">
        <option></option>
        <option th:value="'USER'" th:text="User"></option>
        <option th:value="'ADMIN'" th:text="Admin"></option>
    </select></p>
    <input type="submit" value="Filter" />
</form>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Username </th>
        <th> First name </th>
        <th> Last name </th>
        <th> Role </th>
        <th> Status </th>
        <th> Created at </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userAccounts.empty}">
        <td colspan="7"> No user accounts available </td>
    </tr>
    <tr th:each="userAccount : ${userAccounts}">
        <td><span th:text="${userAccount.id}"> id </span></td>
        <td><span th:text="${userAccount.username}"> Username </span></td>
        <td><span th:text="${userAccount.firstName}"> First name </span></td>
        <td><span th:text="${userAccount.lastName}"> Last name </span></td>
        <td><span th:text="${userAccount.role}"> Role </span></td>
        <td><span th:text="${userAccount.status}"> Status </span></td>
        <td><span th:text="${userAccount.createdAt}"> Created At </span></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>