<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create User Account</title>
</head>
<body>
<h1>Create New User Account</h1>

<form action="#" th:action="@{/user/new}" th:object="${userAccount}" method="post">
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>First name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last name: <input type="text" th:field="*{lastName}" /></p>
    <p>Role: <select th:field="*{role}">
        <option th:value="'User'" th:text="USER"></option>
        <option th:value="'Admin'" th:text="ADMIN"></option>
    </select></p>
    <input type="submit" value="Create" />
</form>
</body>
</html>